body {
    background-color: darkgray;
}

.odin {
    color: darkgoldenrod;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

.recipes {
    text-align: center;
    color: white;
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
}